/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: linear-gradient(150.076deg, #F9FAFB 0%, #D2D6DB 100%);
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.card {
  width: 340px;
  background-color: #fff;
  border-radius: 8px;
  margin: auto;
  top: 200px;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 10%), 0px 1px 2px -1px rgba(0, 0, 0, 10%);
  padding: 24px;
}

.card .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card .content .user {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.card .content .user img {
  width: 48px;
  height: 48px;
}

.card .content .user > div {
  display: flex;
  flex-direction: column;
}

.card .content .user .full_name {
  font-size: 18px;
  font-weight: 600;
  color: #171717;
}

.card .content .user .username {
  font-size: 14px;
  color: #525252;
}

.card .content .message {
  color: #525252;
}